*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #2b5b9b;
    font-family: 'Poppins', sans-serif;
}
h1,h4{
    text-align: center;
    font-family: 'Gugi', cursive;
    color:#2b5b9b; 
    padding: 5px;
}
hr{
    height:1px;
    color:#2b5b9b; 
    background-color: black;
}
.loginForm{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-content: space-around;
}
.loginDiv{
    display: inline-block;
    width: 30%;
}
.input{
    border-radius: 6px;
    border: 1px solid #d5d5d5;
    line-height: 1.3333333;
    padding: 10px 16px;
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #d5d5d5;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
#submit{
    border-radius: 8px;
    background-color: #2b5b9b;
    /* height: 46px; */
    margin: 3%;
    border: none;
    color: white;
    font-size: 18px;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    padding: 10px 16px;
    font-family: 'Ubuntu', sans-serif;
}
.wrapper{
    text-align: center;
    margin: 70px;
}
#username {
    font-size: 18px;
    padding-top: 20%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
ul li div{
    display:flex;
    justify-content: space-between;
    align-content: center;

}
#ride{
    padding: 10%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    font-size: 1.3rem; 
    color: #f5c906;
}
.num{
    color: #2b5b9b;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
}

#taken, #given {
    display: flex;
    flex-direction: column;
    padding: 10%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    
}
#alertEmail, #alertPassword {
    color: red;
    font-size: 12px;
}
#sidebar {
    z-index: 1;
    width: 15%;
    height: 100%;
    padding: 0;
    margin-top: 0;
    background-color: #050505;
    position: fixed;
    left: -230px;
    transition: all 500ms linear;
}
#profilenav ul{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.nav {
    margin: 0px 20px;
    position: fixed;
    font-family: 'Poppins', sans-serif;
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-size: 1rem;
    text-transform: uppercase;
    width: 95%;
    margin-left: 2%;
    margin-right: 2%;
    position: fixed;
    z-index: 1;
}#home, #abt, #contact{
    padding-top: 5px;
    border-radius: 3px;
}

#home:hover, #abt:hover, #contact:hover, #offerBtn a:hover{
    background-color: #f5c906;
    color: #033575;
    font-weight: bold;
}
.brand{
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;
}

.brand span{
    color: #2b5b9b;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    z-index: 1;
}
.nav ul{
    display: flex;
}
.nav ul li{
    list-style: none;
}
nav ul li a{
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
}
#sidebar.active{
    left: 0px;
}
table {
    position: absolute;
    width: 90%;
    margin-top: 10%;
    text-align: left;
    left: 3%;
    margin-right: 3%;
    font-family: 'Poppins', sans-serif;
}
#list{
    transition: all 500ms linear;
}
#list.active{
    left: 250px;
    width: 75%;
}
table, tr, td{
    padding: 8px;
    border-bottom: 1px solid #999a9b;
    background-color: #e9e9e9;
    border-collapse: collapse;
}
.thead{
    text-align: center;
    color: #2b5b9b;
}
th{
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
}
.list.active{
left: 0px;
}
#sidebar ul li{
    color: #EDEEED;
    list-style: none;
    text-align: center;
    padding: 15px 10px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}
#sidebar .toggleBtn {
    position: absolute;
    left: 190%;
    top: 4%;
    margin: 20px;
    cursor: pointer;
}
#sidebar .toggleBtn span {
    display: block;
    width: 30px;
    height: 5px;
    margin: 5px 0px;
    background-color:#2b5b9b;
    border-radius: 2px;
}
#profImage{
    border-radius: 50%;
    height: 70%;
    width: 70%;
}
.contentwrapper{
    margin-left: 100px;
    /* margin-top: 10px; */
    width: 100%;;
    z-index: 30;
}
#trial1 {
    background-color: #2b5b9b;
    position: fixed;
    width: 100%;
    height: 10%;
}
.navitem{
    color: white;
    text-align: left;
}
.lbody{
    margin: 20%;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: rgb(216, 216, 216);
}
#section{
    z-index: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}
#searchContainer{
    display: flex;
    justify-content: center;
}
#search{
    /* position: fixed; */
    border-radius: 6px;
    border: 1px solid #d5d5d5;
    line-height: 1.3333333;
    padding: 10px 16px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #d5d5d5;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    margin-top: 15%;
}
#section1{
    z-index: -1;
    display: flex;
    position: absolute;
    top: 20%;
    margin: 5%;
    width: 100%;

}
.welcomeNote h3{
    font-size: 3rem;
    margin: 10%;
}
.welcomeNote h3 span{
    color: #2b5b9b;
    font-size: 3rem;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
}
.welcomeNote h3{
    font-family: 'Poppins', sans-serif;
}
.welcomeNote p{
    font-size: 1.7rem;
    margin: 10%; 
    font-family: 'Poppins', sans-serif;
}
#welcomeImg{
    width: 95%;
    height: 80%;
    border-radius: 2%;
    /* margin: 30px; */
}
#offerBtn a{
    background-color: #2b5b9b;
    border-color: #2b5b9b;
    border: 1px solid transparent;
    margin: 0 3rem;
    display: block;
    width: 60%;
    padding: 10px 16px;
    line-height: 1.3333333;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 3px;
    color: #ffffff;
    font-weight: 400;
}
.request, .accept{
    background-color: #358a1b;
    border-color: #358a1b;
    border: 1px solid transparent;
    margin: 0 3rem;
    display: block;
    width: 40%;
    padding: 10px 16px;
    line-height: 1.3333333;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 3px;
    color: #ffffff;
    font-weight: 400;
}
.reject{
    background-color: #b91515;
    border-color: #b91515;
    border: 1px solid transparent;
    margin: 0 3rem;
    display: block;
    width: 40%;
    padding: 10px 16px;
    line-height: 1.3333333;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 3px;
    color: #ffffff;
    font-weight: 400;
}