*{
    padding: 0;
    margin: 0;
    text-align: center;
}
a{
    text-decoration: none;
    color: #2b5b9b;
    font-family: 'Poppins', sans-serif;
}
h1,h4{
    text-align: center;
    font-family: 'Gugi', cursive;
    color:#2b5b9b; 
    padding: 5px;
}
hr{
    height:1px;
    /* width:200px;  */
    color:#2b5b9b; 
    background-color: black;
}
.loginForm{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-content: space-around;
}
.loginDiv{
    display: inline-block;
    width: 30%;
}
.input {
    border-radius: 6px;
    border: 1px solid #d5d5d5;
    line-height: 1.3333333;
    padding: 10px 16px;
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #d5d5d5;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
#submit{
    border-radius: 8px;
    background-color: #2b5b9b;
    /* height: 46px; */
    margin: 3%;
    border: none;
    color: white;
    font-size: 18px;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    padding: 10px 16px;
    font-family: 'Ubuntu', sans-serif;
}
.wrapper{
    text-align: center;
    margin: 70px;
}
label{
    font-size: 18px;
    text-align: initial;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
#alertEmail, #alertPassword {
    color: red;
    font-size: 12px;
}
#sidebar{
    width: 200px;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #050505;
    position: fixed;
    left: -200px;
    transition: all 500ms linear;
}
#sidebar.active{
    left: 0px;
}
#sidebar ul li{
    color: #EDEEED;
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}
#sidebar .toggleBtn {
    position: absolute;
    left: 230px;
    top: 20px;
}
#sidebar .toggleBtn span {
    display: block;
    width: 30px;
    height: 5px;
    margin: 5px 0px;
    background-color: #050505;
    border-radius: 2px;
}

/* MAP STYLES */
#mapid { 
    height: 100%;
    width: 100%;
    padding: 230px;
}